{% extends 'base.html' %}

{% block content %}
  {% for post in object_list %}
    <div class="post-entry">
      <h2><a href="{%url 'note_detail' post.pk %}">{{ post.title }}</a></h2>
      <p>{{ post.body | safe }}</p>
    </div>
  {% endfor %}
{% endblock content %}
