{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.body | safe }}</p>
  </div>

  <a href="{% url 'note_edit' object.pk %}">+ Edit Note</a>
  <a href="{% url 'note_delete' object.pk %}">+ Delete Note</a>
{% endblock content %}
