{% extends 'base.html' %}

{% block content %}
  <h1>New Note</h1>
  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <input type="submit" value="Save" />
  </form>
{% endblock content %}
